<div class="card mb-1 p-2 {{changeClassInGroup()}}" (click)="onClick()">
  <div>
    <strong >{{ group.name }}</strong>
    <ul>
      <li *ngFor="let user of group.users">{{ user.name }}</li>
    </ul>
  </div>
</div>
