<form (ngSubmit)="addUser()">
  <p>
    <label for="userName">Enter user name </label>
      <input type="text" id="userName" placeholder="User name" #nameInput>
  </p>
  <p>
    <label for="userEmail">Enter user e-mail</label>
      <input type="text" id="userEmail" placeholder="User e-mail" #emailInput>
  </p>
  <p>
    <label for="active">Check active user</label>
      <input type="checkbox" id="active" #activeInput>
  </p>
  <p>
    <label for="role">Selected user role  </label>
      <select id="role" #roleSelector>
        <option value="" hidden>Selected user role</option>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
        <option value="Editor">Editor</option>
      </select>
  </p>
  <p>
    <button type="submit" class="btn btn-success">Create</button>
  </p>
</form>
