<form (ngSubmit)="addGroup()">
  <label for="newGroup" class="mr-4"> <input id="newGroup" type="text" placeholder="enter name group" #inputGroup></label>
  <button type="submit" class="btn btn-success">Create group</button>
</form>
