<div class="container-fluid p-3">
  <div class="btn-group mb-4 ml-auto mr-auto" >
    <button type="button" class="btn btn-info" (click)="showFormGroups()">Group and users</button>
    <button type="button" class="btn btn-success" (click)="showFormsManage()">Manage</button>
  </div>
  <div class="row" *ngIf="!show; else usersGroups">
    <div class="col-6">
      <h3>Create new user</h3>
      <app-new-user></app-new-user>
    </div>
    <div class="col-6">
      <h3>Create new group</h3>
      <app-new-group></app-new-group>
    </div>
  </div>
  <ng-template #usersGroups>
  <div class="row">
    <div class="col-6">
      <h3>Users</h3>
      <app-users></app-users>
    </div>
    <div class="col-6">
      <h3>Groups</h3>
      <app-groups></app-groups>
    </div>
  </div>
  </ng-template>
</div>

