<div class="card mb-1 p-2" (click)="onClick()">
  <p>
    <label>User name: <strong class="mr-3">{{ user.name }}</strong><span class="active {{ changeClass() }}"></span></label>
  </p>
  <p>
    <label>User email: <i>{{ user.email }}</i></label>
  </p>
  <p>
    <label>Role: <span> {{ user.role }}</span></label>
  </p>
</div>

